.button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 46px;
      font-family: courier;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }
    .new {
      background-color: #008CBA;
      color: white;
      border: 2px solid #008CBA;
    }
    .new:hover {
      background-color: white;
      color: black;
    }
    .button1 {
      background-color: #4CAF50; 
      color: white; 
      border: 2px solid #4CAF50;
    }

    .button1:hover {
      background-color: white;
      color: black;
    }
    .disabled {
      background-color: #e7e7e7;
      color: white;
      border: 2px solid #e7e7e7;
      opacity: 0.6;
      cursor: not-allowed;
    }
